# fly.toml app configuration file generated for home-projects-tracker
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'home-projects-tracker'
primary_region = 'ord'

[build]

[env]
  DATA_DIR = '/data'

[mounts]
  source = 'projects_data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
